// 颜色定义规范
$color-background = rgb(22, 22, 34)
$color-background-a = rgba(22, 24, 35, 0.98)
$color-point = rgb(250, 206, 21)
$color-text = rgb(232, 232, 233)
$color-desc = rgb(139, 140, 150)
$color-btn = rgb(213, 213, 213)
$color-time = rgb(101, 103, 110)
$color-title = rgb(98, 98, 96)
$color-divide = rgba(41, 40, 37, 0.8)
$color-warn = rgb(255, 59, 48)
$color-white = rgb(255, 255, 255)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px